<style>
    nav {
        display: flex;
        justify-content: space-around;
        background-color: #212121;
        padding: 10px;
    }

    nav a {
        color: white;
        text-decoration: none;
    }
    nav a.active { /* Estilo para el enlace activo */
        font-weight: bold;
        text-decoration: underline;
    }
  
</style>
<nav>
    <a [routerLink]="['/']" [routerLinkActive]="'active'" 
    [routerLinkActiveOptions]="{exact:true}">Contador</a> <!-- Uso de binding para mayor flexibilidad -->
    <a routerLink="/hero" routerLinkActive="active">Hero</a>
    <a routerLink="/dragonball" routerLinkActive="active">Dragonball</a>
    <!-- Otros -->
</nav>